.top-container {
  display: flex;
  justify-content: space-around;
}
.top-container div {
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 48%;
  aspect-ratio: 1/1;
}
.top-container div > div {
  background-color: var(--Main);
  border-radius: 15%;
  width: 46%;
  aspect-ratio: 1/1;
  box-shadow: var(--shadow-classique);
}
.top-container div > div > a, .top-container div > div label {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  text-decoration: none;
  margin-top: 5px;
  color: var(--Headline);
}
.top-container div:first-of-type {
  background-color: var(--Main);
  box-shadow: var(--shadow-classique);
}
.top-container div:first-of-type > div {
  background-color: var(--Highlight);
  width: 94%;
  box-shadow: none;
  border-radius: 100%;
}
.top-container div:first-of-type > div > div {
  text-align: center;
  padding: 10%;
  width: 94%;
  background-color: var(--Main);
  aspect-ratio: 1/1;
}
.top-container div:first-of-type > div > div div {
  margin: auto;
  height: 60%;
}
.top-container div:first-of-type > div > div div > span {
  color: var(--Paragraphe);
  font-size: 10px;
}
.top-container div:first-of-type > div > div div #moyenneGeneral {
  color: var(--Headline);
  font-size: 40px;
  font-weight: normal;
}
.top-container div:first-of-type > div > div span {
  font-size: 15px;
  color: var(--Headline);
}

label {
  transition: 1s;
  position: absolute;
}

input {
  visibility: hidden;
  position: absolute;
}
input:checked ~ label:first-of-type {
  opacity: 0;
  transform: scale(0.8);
}
input:checked ~ label:last-of-type {
  opacity: 1;
  transform: scale(1);
}
input:not(:checked) ~ label:first-of-type {
  opacity: 1;
  transform: scale(1);
}
input:not(:checked) ~ label:last-of-type {
  opacity: 0;
  transform: scale(0.8);
}

.wrapper ul {
  margin: 50px auto auto;
  width: 98%;
  height: 95vh;
  overflow-y: scroll;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 45px 0 45px;
  flex-shrink: 0;
  position: relative;
  box-shadow: inset;
}
.wrapper ul > li {
  box-shadow: var(--shadow-classique);
  position: relative;
  margin-bottom: 10px;
  width: 96%;
  background-color: var(--Main);
  border-radius: 30px;
}
.wrapper ul > li h2 {
  margin-left: 10px;
  margin-right: 5px;
  font-size: 20px;
  color: var(--Headline);
}
.wrapper ul > li P {
  margin-left: 10px;
  margin-right: 5px;
  color: var(--Paragraphe);
}
.wrapper ul > li table {
  width: 100%;
  border-collapse: collapse;
}
.wrapper ul > li table tbody tr:nth-child(n+1) td {
  background-color: var(--Tertiary);
}
.wrapper ul > li table tbody tr:nth-child(2n) td {
  background-color: var(--Secondary);
}
.wrapper ul > li table tbody tr td {
  padding-top: 3px;
  height: 35px;
  color: var(--Paragraphe);
}
.wrapper ul > li table tbody tr td:first-of-type {
  padding-left: 12px;
  width: 80%;
}
.wrapper ul > li table tbody tr td:last-of-type {
  padding-right: 5px;
  text-align: center;
}
.wrapper ul > li table tbody tr td sub {
  display: block;
  width: 100%;
}
.wrapper ul > li table tbody tr:last-of-type td {
  height: 40px;
  padding-bottom: 8px;
}
.wrapper ul > li table tbody tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 30px;
}
.wrapper ul > li table tbody tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 30px;
}

.blur-container {
  width: 100%;
  max-width: 1000px;
  position: absolute;
  z-index: 2;
  height: 80px;
}
.blur-container.top {
  margin-top: 25px;
  transform: rotate(0.5turn);
}
.blur-container.top .blur:nth-child(1) {
  backdrop-filter: blur(0.03px);
  top: 2px;
  height: calc(100% - 2px);
}
.blur-container.top .blur:nth-child(2) {
  backdrop-filter: blur(0.06px);
  top: 4px;
  height: calc(100% - 4px);
}
.blur-container.top .blur:nth-child(3) {
  backdrop-filter: blur(0.09px);
  top: 6px;
  height: calc(100% - 6px);
}
.blur-container.top .blur:nth-child(4) {
  backdrop-filter: blur(0.12px);
  top: 8px;
  height: calc(100% - 8px);
}
.blur-container.top .blur:nth-child(5) {
  backdrop-filter: blur(0.15px);
  top: 10px;
  height: calc(100% - 10px);
}
.blur-container.top .blur:nth-child(6) {
  backdrop-filter: blur(0.18px);
  top: 12px;
  height: calc(100% - 12px);
}
.blur-container.top .blur:nth-child(7) {
  backdrop-filter: blur(0.21px);
  top: 14px;
  height: calc(100% - 14px);
}
.blur-container.top .blur:nth-child(8) {
  backdrop-filter: blur(0.24px);
  top: 16px;
  height: calc(100% - 16px);
}
.blur-container.top .blur:nth-child(9) {
  backdrop-filter: blur(0.27px);
  top: 18px;
  height: calc(100% - 18px);
}
.blur-container.top .blur:nth-child(10) {
  backdrop-filter: blur(0.3px);
  top: 20px;
  height: calc(100% - 20px);
}
.blur-container.top .blur:nth-child(11) {
  backdrop-filter: blur(0.33px);
  top: 22px;
  height: calc(100% - 22px);
}
.blur-container.top .blur:nth-child(12) {
  backdrop-filter: blur(0.36px);
  top: 24px;
  height: calc(100% - 24px);
}
.blur-container.top .blur:nth-child(13) {
  backdrop-filter: blur(0.39px);
  top: 26px;
  height: calc(100% - 26px);
}
.blur-container.top .blur:nth-child(14) {
  backdrop-filter: blur(0.42px);
  top: 28px;
  height: calc(100% - 28px);
}
.blur-container.top .blur:nth-child(15) {
  backdrop-filter: blur(0.45px);
  top: 30px;
  height: calc(100% - 30px);
}
.blur-container.top .blur:nth-child(16) {
  backdrop-filter: blur(0.48px);
  top: 32px;
  height: calc(100% - 32px);
}
.blur-container.top .blur:nth-child(17) {
  backdrop-filter: blur(0.51px);
  top: 34px;
  height: calc(100% - 34px);
}
.blur-container.top .blur:nth-child(18) {
  backdrop-filter: blur(0.54px);
  top: 36px;
  height: calc(100% - 36px);
}
.blur-container.top .blur:nth-child(19) {
  backdrop-filter: blur(0.57px);
  top: 38px;
  height: calc(100% - 38px);
}
.blur-container.top .blur:nth-child(20) {
  backdrop-filter: blur(0.6px);
  top: 40px;
  height: calc(100% - 40px);
}
.blur-container.top .blur:nth-child(21) {
  backdrop-filter: blur(0.63px);
  top: 42px;
  height: calc(100% - 42px);
}
.blur-container.top .blur:nth-child(22) {
  backdrop-filter: blur(0.66px);
  top: 44px;
  height: calc(100% - 44px);
}
.blur-container.top .blur:nth-child(23) {
  backdrop-filter: blur(0.69px);
  top: 46px;
  height: calc(100% - 46px);
}
.blur-container.top .blur:nth-child(24) {
  backdrop-filter: blur(0.72px);
  top: 48px;
  height: calc(100% - 48px);
}
.blur-container.top .blur:nth-child(25) {
  backdrop-filter: blur(0.75px);
  top: 50px;
  height: calc(100% - 50px);
}
.blur-container.top .blur:nth-child(26) {
  backdrop-filter: blur(0.78px);
  top: 52px;
  height: calc(100% - 52px);
}
.blur-container.top .blur:nth-child(27) {
  backdrop-filter: blur(0.81px);
  top: 54px;
  height: calc(100% - 54px);
}
.blur-container.top .blur:nth-child(28) {
  backdrop-filter: blur(0.84px);
  top: 56px;
  height: calc(100% - 56px);
}
.blur-container.top .blur:nth-child(29) {
  backdrop-filter: blur(0.87px);
  top: 58px;
  height: calc(100% - 58px);
}
.blur-container.top .blur:nth-child(30) {
  backdrop-filter: blur(0.9px);
  top: 60px;
  height: calc(100% - 60px);
}
.blur-container.top .blur:nth-child(31) {
  backdrop-filter: blur(0.93px);
  top: 62px;
  height: calc(100% - 62px);
}
.blur-container.top .blur:nth-child(32) {
  backdrop-filter: blur(0.96px);
  top: 64px;
  height: calc(100% - 64px);
}
.blur-container.top .blur:nth-child(33) {
  backdrop-filter: blur(0.99px);
  top: 66px;
  height: calc(100% - 66px);
}
.blur-container.top .blur:nth-child(34) {
  backdrop-filter: blur(1.02px);
  top: 68px;
  height: calc(100% - 68px);
}
.blur-container.top .blur:nth-child(35) {
  backdrop-filter: blur(1.05px);
  top: 70px;
  height: calc(100% - 70px);
}
.blur-container.top .blur:nth-child(36) {
  backdrop-filter: blur(1.08px);
  top: 72px;
  height: calc(100% - 72px);
}
.blur-container.top .blur:nth-child(37) {
  backdrop-filter: blur(1.11px);
  top: 74px;
  height: calc(100% - 74px);
}
.blur-container.top .blur:nth-child(38) {
  backdrop-filter: blur(1.14px);
  top: 76px;
  height: calc(100% - 76px);
}
.blur-container.top .blur:nth-child(39) {
  backdrop-filter: blur(1.17px);
  top: 78px;
  height: calc(100% - 78px);
}
.blur-container.top .blur:nth-child(40) {
  backdrop-filter: blur(1.2px);
  top: 80px;
  height: calc(100% - 80px);
}
.blur-container.top .blur:nth-child(41) {
  backdrop-filter: blur(1.23px);
  top: 82px;
  height: calc(100% - 82px);
}
.blur-container.top .blur:nth-child(42) {
  backdrop-filter: blur(1.26px);
  top: 84px;
  height: calc(100% - 84px);
}
.blur-container.top .blur:nth-child(43) {
  backdrop-filter: blur(1.29px);
  top: 86px;
  height: calc(100% - 86px);
}
.blur-container.top .blur:nth-child(44) {
  backdrop-filter: blur(1.32px);
  top: 88px;
  height: calc(100% - 88px);
}
.blur-container.top .blur:nth-child(45) {
  backdrop-filter: blur(1.35px);
  top: 90px;
  height: calc(100% - 90px);
}
.blur-container.top .blur:nth-child(46) {
  backdrop-filter: blur(1.38px);
  top: 92px;
  height: calc(100% - 92px);
}
.blur-container.top .blur:nth-child(47) {
  backdrop-filter: blur(1.41px);
  top: 94px;
  height: calc(100% - 94px);
}
.blur-container.top .blur:nth-child(48) {
  backdrop-filter: blur(1.44px);
  top: 96px;
  height: calc(100% - 96px);
}
.blur-container.top .blur:nth-child(49) {
  backdrop-filter: blur(1.47px);
  top: 98px;
  height: calc(100% - 98px);
}
.blur-container.top .blur:nth-child(50) {
  backdrop-filter: blur(1.5px);
  top: 100px;
  height: calc(100% - 100px);
}
.blur-container.top .blur:nth-child(51) {
  backdrop-filter: blur(1.53px);
  top: 102px;
  height: calc(100% - 102px);
}
.blur-container.top .blur:nth-child(52) {
  backdrop-filter: blur(1.56px);
  top: 104px;
  height: calc(100% - 104px);
}
.blur-container.top .blur:nth-child(53) {
  backdrop-filter: blur(1.59px);
  top: 106px;
  height: calc(100% - 106px);
}
.blur-container.top .blur:nth-child(54) {
  backdrop-filter: blur(1.62px);
  top: 108px;
  height: calc(100% - 108px);
}
.blur-container.top .blur:nth-child(55) {
  backdrop-filter: blur(1.65px);
  top: 110px;
  height: calc(100% - 110px);
}
.blur-container.top .blur:nth-child(56) {
  backdrop-filter: blur(1.68px);
  top: 112px;
  height: calc(100% - 112px);
}
.blur-container.top .blur:nth-child(57) {
  backdrop-filter: blur(1.71px);
  top: 114px;
  height: calc(100% - 114px);
}
.blur-container.top .blur:nth-child(58) {
  backdrop-filter: blur(1.74px);
  top: 116px;
  height: calc(100% - 116px);
}
.blur-container.top .blur:nth-child(59) {
  backdrop-filter: blur(1.77px);
  top: 118px;
  height: calc(100% - 118px);
}
.blur-container.top .blur:nth-child(60) {
  backdrop-filter: blur(1.8px);
  top: 120px;
  height: calc(100% - 120px);
}
.blur-container.top .blur:nth-child(61) {
  backdrop-filter: blur(1.83px);
  top: 122px;
  height: calc(100% - 122px);
}
.blur-container.top .blur:nth-child(62) {
  backdrop-filter: blur(1.86px);
  top: 124px;
  height: calc(100% - 124px);
}
.blur-container.top .blur:nth-child(63) {
  backdrop-filter: blur(1.89px);
  top: 126px;
  height: calc(100% - 126px);
}
.blur-container.top .blur:nth-child(64) {
  backdrop-filter: blur(1.92px);
  top: 128px;
  height: calc(100% - 128px);
}
.blur-container.top .blur:nth-child(65) {
  backdrop-filter: blur(1.95px);
  top: 130px;
  height: calc(100% - 130px);
}
.blur-container.top .blur:nth-child(66) {
  backdrop-filter: blur(1.98px);
  top: 132px;
  height: calc(100% - 132px);
}
.blur-container.top .blur:nth-child(67) {
  backdrop-filter: blur(2.01px);
  top: 134px;
  height: calc(100% - 134px);
}
.blur-container.top .blur:nth-child(68) {
  backdrop-filter: blur(2.04px);
  top: 136px;
  height: calc(100% - 136px);
}
.blur-container.top .blur:nth-child(69) {
  backdrop-filter: blur(2.07px);
  top: 138px;
  height: calc(100% - 138px);
}
.blur-container.top .blur:nth-child(70) {
  backdrop-filter: blur(2.1px);
  top: 140px;
  height: calc(100% - 140px);
}
.blur-container.top .blur:nth-child(71) {
  backdrop-filter: blur(2.13px);
  top: 142px;
  height: calc(100% - 142px);
}
.blur-container.top .blur:nth-child(72) {
  backdrop-filter: blur(2.16px);
  top: 144px;
  height: calc(100% - 144px);
}
.blur-container.top .blur:nth-child(73) {
  backdrop-filter: blur(2.19px);
  top: 146px;
  height: calc(100% - 146px);
}
.blur-container.top .blur:nth-child(74) {
  backdrop-filter: blur(2.22px);
  top: 148px;
  height: calc(100% - 148px);
}
.blur-container.top .blur:nth-child(75) {
  backdrop-filter: blur(2.25px);
  top: 150px;
  height: calc(100% - 150px);
}
.blur-container.top .blur:nth-child(76) {
  backdrop-filter: blur(2.28px);
  top: 152px;
  height: calc(100% - 152px);
}
.blur-container.top .blur:nth-child(77) {
  backdrop-filter: blur(2.31px);
  top: 154px;
  height: calc(100% - 154px);
}
.blur-container.top .blur:nth-child(78) {
  backdrop-filter: blur(2.34px);
  top: 156px;
  height: calc(100% - 156px);
}
.blur-container.top .blur:nth-child(79) {
  backdrop-filter: blur(2.37px);
  top: 158px;
  height: calc(100% - 158px);
}
.blur-container.top .blur:nth-child(80) {
  backdrop-filter: blur(2.4px);
  top: 160px;
  height: calc(100% - 160px);
}
.blur-container.top .blur:nth-child(81) {
  backdrop-filter: blur(2.43px);
  top: 162px;
  height: calc(100% - 162px);
}
.blur-container.top .blur:nth-child(82) {
  backdrop-filter: blur(2.46px);
  top: 164px;
  height: calc(100% - 164px);
}
.blur-container.top .blur:nth-child(83) {
  backdrop-filter: blur(2.49px);
  top: 166px;
  height: calc(100% - 166px);
}
.blur-container.top .blur:nth-child(84) {
  backdrop-filter: blur(2.52px);
  top: 168px;
  height: calc(100% - 168px);
}
.blur-container.top .blur:nth-child(85) {
  backdrop-filter: blur(2.55px);
  top: 170px;
  height: calc(100% - 170px);
}
.blur-container.top .blur:nth-child(86) {
  backdrop-filter: blur(2.58px);
  top: 172px;
  height: calc(100% - 172px);
}
.blur-container.top .blur:nth-child(87) {
  backdrop-filter: blur(2.61px);
  top: 174px;
  height: calc(100% - 174px);
}
.blur-container.top .blur:nth-child(88) {
  backdrop-filter: blur(2.64px);
  top: 176px;
  height: calc(100% - 176px);
}
.blur-container.top .blur:nth-child(89) {
  backdrop-filter: blur(2.67px);
  top: 178px;
  height: calc(100% - 178px);
}
.blur-container.top .blur:nth-child(90) {
  backdrop-filter: blur(2.7px);
  top: 180px;
  height: calc(100% - 180px);
}
.blur-container.top .blur:nth-child(91) {
  backdrop-filter: blur(2.73px);
  top: 182px;
  height: calc(100% - 182px);
}
.blur-container.top .blur:nth-child(92) {
  backdrop-filter: blur(2.76px);
  top: 184px;
  height: calc(100% - 184px);
}
.blur-container.top .blur:nth-child(93) {
  backdrop-filter: blur(2.79px);
  top: 186px;
  height: calc(100% - 186px);
}
.blur-container.top .blur:nth-child(94) {
  backdrop-filter: blur(2.82px);
  top: 188px;
  height: calc(100% - 188px);
}
.blur-container.top .blur:nth-child(95) {
  backdrop-filter: blur(2.85px);
  top: 190px;
  height: calc(100% - 190px);
}
.blur-container.top .blur:nth-child(96) {
  backdrop-filter: blur(2.88px);
  top: 192px;
  height: calc(100% - 192px);
}
.blur-container.top .blur:nth-child(97) {
  backdrop-filter: blur(2.91px);
  top: 194px;
  height: calc(100% - 194px);
}
.blur-container.top .blur:nth-child(98) {
  backdrop-filter: blur(2.94px);
  top: 196px;
  height: calc(100% - 196px);
}
.blur-container.top .blur:nth-child(99) {
  backdrop-filter: blur(2.97px);
  top: 198px;
  height: calc(100% - 198px);
}
.blur-container.top .blur:nth-child(100) {
  backdrop-filter: blur(3px);
  top: 200px;
  height: calc(100% - 200px);
}
.blur-container.bottom {
  margin-top: -45px;
}
.blur-container.bottom .blur:nth-child(1) {
  backdrop-filter: blur(0.03px);
  top: 2px;
  height: calc(100% - 2px);
}
.blur-container.bottom .blur:nth-child(2) {
  backdrop-filter: blur(0.06px);
  top: 4px;
  height: calc(100% - 4px);
}
.blur-container.bottom .blur:nth-child(3) {
  backdrop-filter: blur(0.09px);
  top: 6px;
  height: calc(100% - 6px);
}
.blur-container.bottom .blur:nth-child(4) {
  backdrop-filter: blur(0.12px);
  top: 8px;
  height: calc(100% - 8px);
}
.blur-container.bottom .blur:nth-child(5) {
  backdrop-filter: blur(0.15px);
  top: 10px;
  height: calc(100% - 10px);
}
.blur-container.bottom .blur:nth-child(6) {
  backdrop-filter: blur(0.18px);
  top: 12px;
  height: calc(100% - 12px);
}
.blur-container.bottom .blur:nth-child(7) {
  backdrop-filter: blur(0.21px);
  top: 14px;
  height: calc(100% - 14px);
}
.blur-container.bottom .blur:nth-child(8) {
  backdrop-filter: blur(0.24px);
  top: 16px;
  height: calc(100% - 16px);
}
.blur-container.bottom .blur:nth-child(9) {
  backdrop-filter: blur(0.27px);
  top: 18px;
  height: calc(100% - 18px);
}
.blur-container.bottom .blur:nth-child(10) {
  backdrop-filter: blur(0.3px);
  top: 20px;
  height: calc(100% - 20px);
}
.blur-container.bottom .blur:nth-child(11) {
  backdrop-filter: blur(0.33px);
  top: 22px;
  height: calc(100% - 22px);
}
.blur-container.bottom .blur:nth-child(12) {
  backdrop-filter: blur(0.36px);
  top: 24px;
  height: calc(100% - 24px);
}
.blur-container.bottom .blur:nth-child(13) {
  backdrop-filter: blur(0.39px);
  top: 26px;
  height: calc(100% - 26px);
}
.blur-container.bottom .blur:nth-child(14) {
  backdrop-filter: blur(0.42px);
  top: 28px;
  height: calc(100% - 28px);
}
.blur-container.bottom .blur:nth-child(15) {
  backdrop-filter: blur(0.45px);
  top: 30px;
  height: calc(100% - 30px);
}
.blur-container.bottom .blur:nth-child(16) {
  backdrop-filter: blur(0.48px);
  top: 32px;
  height: calc(100% - 32px);
}
.blur-container.bottom .blur:nth-child(17) {
  backdrop-filter: blur(0.51px);
  top: 34px;
  height: calc(100% - 34px);
}
.blur-container.bottom .blur:nth-child(18) {
  backdrop-filter: blur(0.54px);
  top: 36px;
  height: calc(100% - 36px);
}
.blur-container.bottom .blur:nth-child(19) {
  backdrop-filter: blur(0.57px);
  top: 38px;
  height: calc(100% - 38px);
}
.blur-container.bottom .blur:nth-child(20) {
  backdrop-filter: blur(0.6px);
  top: 40px;
  height: calc(100% - 40px);
}
.blur-container.bottom .blur:nth-child(21) {
  backdrop-filter: blur(0.63px);
  top: 42px;
  height: calc(100% - 42px);
}
.blur-container.bottom .blur:nth-child(22) {
  backdrop-filter: blur(0.66px);
  top: 44px;
  height: calc(100% - 44px);
}
.blur-container.bottom .blur:nth-child(23) {
  backdrop-filter: blur(0.69px);
  top: 46px;
  height: calc(100% - 46px);
}
.blur-container.bottom .blur:nth-child(24) {
  backdrop-filter: blur(0.72px);
  top: 48px;
  height: calc(100% - 48px);
}
.blur-container.bottom .blur:nth-child(25) {
  backdrop-filter: blur(0.75px);
  top: 50px;
  height: calc(100% - 50px);
}
.blur-container.bottom .blur:nth-child(26) {
  backdrop-filter: blur(0.78px);
  top: 52px;
  height: calc(100% - 52px);
}
.blur-container.bottom .blur:nth-child(27) {
  backdrop-filter: blur(0.81px);
  top: 54px;
  height: calc(100% - 54px);
}
.blur-container.bottom .blur:nth-child(28) {
  backdrop-filter: blur(0.84px);
  top: 56px;
  height: calc(100% - 56px);
}
.blur-container.bottom .blur:nth-child(29) {
  backdrop-filter: blur(0.87px);
  top: 58px;
  height: calc(100% - 58px);
}
.blur-container.bottom .blur:nth-child(30) {
  backdrop-filter: blur(0.9px);
  top: 60px;
  height: calc(100% - 60px);
}
.blur-container.bottom .blur:nth-child(31) {
  backdrop-filter: blur(0.93px);
  top: 62px;
  height: calc(100% - 62px);
}
.blur-container.bottom .blur:nth-child(32) {
  backdrop-filter: blur(0.96px);
  top: 64px;
  height: calc(100% - 64px);
}
.blur-container.bottom .blur:nth-child(33) {
  backdrop-filter: blur(0.99px);
  top: 66px;
  height: calc(100% - 66px);
}
.blur-container.bottom .blur:nth-child(34) {
  backdrop-filter: blur(1.02px);
  top: 68px;
  height: calc(100% - 68px);
}
.blur-container.bottom .blur:nth-child(35) {
  backdrop-filter: blur(1.05px);
  top: 70px;
  height: calc(100% - 70px);
}
.blur-container.bottom .blur:nth-child(36) {
  backdrop-filter: blur(1.08px);
  top: 72px;
  height: calc(100% - 72px);
}
.blur-container.bottom .blur:nth-child(37) {
  backdrop-filter: blur(1.11px);
  top: 74px;
  height: calc(100% - 74px);
}
.blur-container.bottom .blur:nth-child(38) {
  backdrop-filter: blur(1.14px);
  top: 76px;
  height: calc(100% - 76px);
}
.blur-container.bottom .blur:nth-child(39) {
  backdrop-filter: blur(1.17px);
  top: 78px;
  height: calc(100% - 78px);
}
.blur-container.bottom .blur:nth-child(40) {
  backdrop-filter: blur(1.2px);
  top: 80px;
  height: calc(100% - 80px);
}
.blur-container.bottom .blur:nth-child(41) {
  backdrop-filter: blur(1.23px);
  top: 82px;
  height: calc(100% - 82px);
}
.blur-container.bottom .blur:nth-child(42) {
  backdrop-filter: blur(1.26px);
  top: 84px;
  height: calc(100% - 84px);
}
.blur-container.bottom .blur:nth-child(43) {
  backdrop-filter: blur(1.29px);
  top: 86px;
  height: calc(100% - 86px);
}
.blur-container.bottom .blur:nth-child(44) {
  backdrop-filter: blur(1.32px);
  top: 88px;
  height: calc(100% - 88px);
}
.blur-container.bottom .blur:nth-child(45) {
  backdrop-filter: blur(1.35px);
  top: 90px;
  height: calc(100% - 90px);
}
.blur-container.bottom .blur:nth-child(46) {
  backdrop-filter: blur(1.38px);
  top: 92px;
  height: calc(100% - 92px);
}
.blur-container.bottom .blur:nth-child(47) {
  backdrop-filter: blur(1.41px);
  top: 94px;
  height: calc(100% - 94px);
}
.blur-container.bottom .blur:nth-child(48) {
  backdrop-filter: blur(1.44px);
  top: 96px;
  height: calc(100% - 96px);
}
.blur-container.bottom .blur:nth-child(49) {
  backdrop-filter: blur(1.47px);
  top: 98px;
  height: calc(100% - 98px);
}
.blur-container.bottom .blur:nth-child(50) {
  backdrop-filter: blur(1.5px);
  top: 100px;
  height: calc(100% - 100px);
}
.blur-container.bottom .blur:nth-child(51) {
  backdrop-filter: blur(1.53px);
  top: 102px;
  height: calc(100% - 102px);
}
.blur-container.bottom .blur:nth-child(52) {
  backdrop-filter: blur(1.56px);
  top: 104px;
  height: calc(100% - 104px);
}
.blur-container.bottom .blur:nth-child(53) {
  backdrop-filter: blur(1.59px);
  top: 106px;
  height: calc(100% - 106px);
}
.blur-container.bottom .blur:nth-child(54) {
  backdrop-filter: blur(1.62px);
  top: 108px;
  height: calc(100% - 108px);
}
.blur-container.bottom .blur:nth-child(55) {
  backdrop-filter: blur(1.65px);
  top: 110px;
  height: calc(100% - 110px);
}
.blur-container.bottom .blur:nth-child(56) {
  backdrop-filter: blur(1.68px);
  top: 112px;
  height: calc(100% - 112px);
}
.blur-container.bottom .blur:nth-child(57) {
  backdrop-filter: blur(1.71px);
  top: 114px;
  height: calc(100% - 114px);
}
.blur-container.bottom .blur:nth-child(58) {
  backdrop-filter: blur(1.74px);
  top: 116px;
  height: calc(100% - 116px);
}
.blur-container.bottom .blur:nth-child(59) {
  backdrop-filter: blur(1.77px);
  top: 118px;
  height: calc(100% - 118px);
}
.blur-container.bottom .blur:nth-child(60) {
  backdrop-filter: blur(1.8px);
  top: 120px;
  height: calc(100% - 120px);
}
.blur-container.bottom .blur:nth-child(61) {
  backdrop-filter: blur(1.83px);
  top: 122px;
  height: calc(100% - 122px);
}
.blur-container.bottom .blur:nth-child(62) {
  backdrop-filter: blur(1.86px);
  top: 124px;
  height: calc(100% - 124px);
}
.blur-container.bottom .blur:nth-child(63) {
  backdrop-filter: blur(1.89px);
  top: 126px;
  height: calc(100% - 126px);
}
.blur-container.bottom .blur:nth-child(64) {
  backdrop-filter: blur(1.92px);
  top: 128px;
  height: calc(100% - 128px);
}
.blur-container.bottom .blur:nth-child(65) {
  backdrop-filter: blur(1.95px);
  top: 130px;
  height: calc(100% - 130px);
}
.blur-container.bottom .blur:nth-child(66) {
  backdrop-filter: blur(1.98px);
  top: 132px;
  height: calc(100% - 132px);
}
.blur-container.bottom .blur:nth-child(67) {
  backdrop-filter: blur(2.01px);
  top: 134px;
  height: calc(100% - 134px);
}
.blur-container.bottom .blur:nth-child(68) {
  backdrop-filter: blur(2.04px);
  top: 136px;
  height: calc(100% - 136px);
}
.blur-container.bottom .blur:nth-child(69) {
  backdrop-filter: blur(2.07px);
  top: 138px;
  height: calc(100% - 138px);
}
.blur-container.bottom .blur:nth-child(70) {
  backdrop-filter: blur(2.1px);
  top: 140px;
  height: calc(100% - 140px);
}
.blur-container.bottom .blur:nth-child(71) {
  backdrop-filter: blur(2.13px);
  top: 142px;
  height: calc(100% - 142px);
}
.blur-container.bottom .blur:nth-child(72) {
  backdrop-filter: blur(2.16px);
  top: 144px;
  height: calc(100% - 144px);
}
.blur-container.bottom .blur:nth-child(73) {
  backdrop-filter: blur(2.19px);
  top: 146px;
  height: calc(100% - 146px);
}
.blur-container.bottom .blur:nth-child(74) {
  backdrop-filter: blur(2.22px);
  top: 148px;
  height: calc(100% - 148px);
}
.blur-container.bottom .blur:nth-child(75) {
  backdrop-filter: blur(2.25px);
  top: 150px;
  height: calc(100% - 150px);
}
.blur-container.bottom .blur:nth-child(76) {
  backdrop-filter: blur(2.28px);
  top: 152px;
  height: calc(100% - 152px);
}
.blur-container.bottom .blur:nth-child(77) {
  backdrop-filter: blur(2.31px);
  top: 154px;
  height: calc(100% - 154px);
}
.blur-container.bottom .blur:nth-child(78) {
  backdrop-filter: blur(2.34px);
  top: 156px;
  height: calc(100% - 156px);
}
.blur-container.bottom .blur:nth-child(79) {
  backdrop-filter: blur(2.37px);
  top: 158px;
  height: calc(100% - 158px);
}
.blur-container.bottom .blur:nth-child(80) {
  backdrop-filter: blur(2.4px);
  top: 160px;
  height: calc(100% - 160px);
}
.blur-container.bottom .blur:nth-child(81) {
  backdrop-filter: blur(2.43px);
  top: 162px;
  height: calc(100% - 162px);
}
.blur-container.bottom .blur:nth-child(82) {
  backdrop-filter: blur(2.46px);
  top: 164px;
  height: calc(100% - 164px);
}
.blur-container.bottom .blur:nth-child(83) {
  backdrop-filter: blur(2.49px);
  top: 166px;
  height: calc(100% - 166px);
}
.blur-container.bottom .blur:nth-child(84) {
  backdrop-filter: blur(2.52px);
  top: 168px;
  height: calc(100% - 168px);
}
.blur-container.bottom .blur:nth-child(85) {
  backdrop-filter: blur(2.55px);
  top: 170px;
  height: calc(100% - 170px);
}
.blur-container.bottom .blur:nth-child(86) {
  backdrop-filter: blur(2.58px);
  top: 172px;
  height: calc(100% - 172px);
}
.blur-container.bottom .blur:nth-child(87) {
  backdrop-filter: blur(2.61px);
  top: 174px;
  height: calc(100% - 174px);
}
.blur-container.bottom .blur:nth-child(88) {
  backdrop-filter: blur(2.64px);
  top: 176px;
  height: calc(100% - 176px);
}
.blur-container.bottom .blur:nth-child(89) {
  backdrop-filter: blur(2.67px);
  top: 178px;
  height: calc(100% - 178px);
}
.blur-container.bottom .blur:nth-child(90) {
  backdrop-filter: blur(2.7px);
  top: 180px;
  height: calc(100% - 180px);
}
.blur-container.bottom .blur:nth-child(91) {
  backdrop-filter: blur(2.73px);
  top: 182px;
  height: calc(100% - 182px);
}
.blur-container.bottom .blur:nth-child(92) {
  backdrop-filter: blur(2.76px);
  top: 184px;
  height: calc(100% - 184px);
}
.blur-container.bottom .blur:nth-child(93) {
  backdrop-filter: blur(2.79px);
  top: 186px;
  height: calc(100% - 186px);
}
.blur-container.bottom .blur:nth-child(94) {
  backdrop-filter: blur(2.82px);
  top: 188px;
  height: calc(100% - 188px);
}
.blur-container.bottom .blur:nth-child(95) {
  backdrop-filter: blur(2.85px);
  top: 190px;
  height: calc(100% - 190px);
}
.blur-container.bottom .blur:nth-child(96) {
  backdrop-filter: blur(2.88px);
  top: 192px;
  height: calc(100% - 192px);
}
.blur-container.bottom .blur:nth-child(97) {
  backdrop-filter: blur(2.91px);
  top: 194px;
  height: calc(100% - 194px);
}
.blur-container.bottom .blur:nth-child(98) {
  backdrop-filter: blur(2.94px);
  top: 196px;
  height: calc(100% - 196px);
}
.blur-container.bottom .blur:nth-child(99) {
  backdrop-filter: blur(2.97px);
  top: 198px;
  height: calc(100% - 198px);
}
.blur-container.bottom .blur:nth-child(100) {
  backdrop-filter: blur(3px);
  top: 200px;
  height: calc(100% - 200px);
}
.blur-container .blur {
  position: absolute;
  width: 100%;
  height: 100%;
}

.shadow-blur {
  z-index: 3;
  position: absolute;
  width: 100%;
  max-width: 1000px;
  height: 3px;
  background-color: var(--Stroke);
}
.shadow-blur.top {
  margin-top: 40px;
}

footer {
  margin-top: 30px;
  position: relative;
  display: block;
}
footer p {
  margin-bottom: 0;
  padding: 3px 3px 10px;
}

@media screen and (min-width: 600px) {
  .top-container div {
    border-radius: 23px;
  }
  .top-container div > div > a, .top-container div > div label {
    font-size: 75px;
  }
  .top-container div:first-of-type > div > div div > span {
    font-size: 19px;
  }
  .top-container div:first-of-type > div > div div #moyenneGeneral {
    font-size: 80px;
    font-weight: normal;
  }
  .top-container div:first-of-type > div > div span {
    font-size: 22px;
  }
}
@media screen and (min-width: 1000px) {
  .top-container div {
    border-radius: 26px;
  }
  .top-container div > div > a, .top-container div > div label {
    font-size: 95px;
  }
  .top-container div:first-of-type > div > div div > span {
    font-size: 25px;
  }
  .top-container div:first-of-type > div > div div #moyenneGeneral {
    font-size: 100px;
    font-weight: normal;
  }
  .top-container div:first-of-type > div > div span {
    font-size: 35px;
  }
  .wrapper ul > li {
    margin-bottom: 10px;
    border-radius: 30px;
  }
  .wrapper ul > li h2 {
    font-size: 24px;
  }
  .wrapper ul > li P {
    font-size: 20px;
  }
  .wrapper ul > li td {
    font-size: 18px;
  }
}

/*# sourceMappingURL=grade.css.map */
