.top-container {
  display: flex;
  justify-content: space-around;

  div {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 48%;
    aspect-ratio: 1 / 1;

    > div {
      background-color: var(--Main);
      border-radius: 15%;
      width: 46%;
      aspect-ratio: 1 / 1;
      box-shadow: var(--shadow-classique);

      > a, label {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        text-decoration: none;
        margin-top: 5px;
        color: var(--Headline);
      }
    }

    &:first-of-type {
      background-color: var(--Main);
      box-shadow: var(--shadow-classique);

      > div {
        background-color: var(--Highlight);
        width: 94%;
        box-shadow: none;

        border-radius: 100%;

        > div {
          text-align: center;
          padding: 10%;
          width: 94%;
          background-color: var(--Main);
          aspect-ratio: 1/1;

          div {
            margin: auto;
            height: 60%;

            > span {
              color: var(--Paragraphe);
              font-size: 10px;
            }

            #moyenneGeneral {
              color: var(--Headline);
              font-size: 40px;
              font-weight: normal;
            }
          }

          span {
            font-size: 15px;
            color: var(--Headline);
          }
        }
      }
    }
  }
}


//Visibilité note nulle
label {
  transition: 1s;
  position: absolute;
}

input {
  visibility: hidden;
  position: absolute;

  &:checked {
    ~ label {
      &:first-of-type {
        opacity: 0;
        transform: scale(0.8);
      }

      &:last-of-type {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &:not(:checked) {
    ~ label {
      &:first-of-type {
        opacity: 1;
        transform: scale(1);
      }

      &:last-of-type {
        opacity: 0;
        transform: scale(0.8);
      }
    }

  }
}

///////////////////////////////


// Gestion des notes
.wrapper ul {
  margin: 50px auto auto;
  width: 98%;
  height: 95vh;
  overflow-y: scroll;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 45px 0 45px;
  flex-shrink: 0;
  position: relative;
  box-shadow: inset;

  > li {
    box-shadow: var(--shadow-classique);
    position: relative;
    margin-bottom: 10px;
    width: 96%;
    background-color: var(--Main);
    border-radius: 30px;

    h2 {
      margin-left: 10px;
      margin-right: 5px;
      font-size: 20px;
      color: var(--Headline);
    }

    P {
      margin-left: 10px;
      margin-right: 5px;
      color: var(--Paragraphe);
    }

    table {
      width: 100%;
      border-collapse: collapse;


      tbody {
        tr {
          &:nth-child(n+1) td {
            background-color: var(--Tertiary);
          }

          &:nth-child(2n) td {
            background-color: var(--Secondary);
          }

          td {
            padding-top: 3px;
            height: 35px;
            color: var(--Paragraphe);

            &:first-of-type {
              padding-left: 12px;
              width: 80%;
            }

            &:last-of-type {
              padding-right: 5px;
              text-align: center;
            }

            sub {
              display: block;
              width: 100%;
            }
          }

          &:last-of-type {
            td {
              height: 40px;
              padding-bottom: 8px;

              &:first-of-type {
                border-bottom-left-radius: 30px;
              }

              &:last-of-type {
                border-bottom-right-radius: 30px;
              }
            }
          }
        }
      }
    }
  }
}


// Gradual blur

$steps: 100;
$blur: 0.03px;

@mixin gradual-blur(
  $steps-count: 10,
  $blur-per-step: 1px,
  $distance-per-step: 2px
) {
  @for $i from 1 through $steps-count {
    .blur:nth-child(#{$i}) {
      $margin: #{$i * $distance-per-step};
      backdrop-filter: blur(#{$i * $blur-per-step});
      top: #{$margin};
      height: calc(100% - #{$margin});
    }
  }
}

.blur-container {
  width: 100%;
  max-width: 1000px;
  position: absolute;
  z-index: 2;
  height: 80px;

  &.top {
    margin-top: 25px;
    transform: rotate(0.5turn);
    @include gradual-blur($steps, $blur);
  }

  &.bottom {
    margin-top: -45px;
    @include gradual-blur($steps, $blur);
  }

  .blur {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.shadow-blur {
  z-index: 3;
  position: absolute;
  width: 100%;
  max-width: 1000px;
  height: 3px;
  background-color: var(--Stroke);

  &.top {
    margin-top: 40px;
  }
}


footer {
  margin-top: 30px;
  position: relative;
  display: block;

  p {
    margin-bottom: 0;
    padding: 3px 3px 10px;
  }
}

@media screen and (min-width: 600px) {

  .top-container {
    div {
      border-radius: 23px;
      > div {
        > a, label {
          font-size: 75px;
        }
      }

      &:first-of-type > div > div {
          div {
            > span {
              font-size: 19px;
            }
            #moyenneGeneral {
              font-size: 80px;
              font-weight: normal;
            }
          }

          span {
            font-size: 22px;
          }
        }
      }
    }

}

@media screen and (min-width: 1000px) {

  .top-container {
    div {
      border-radius: 26px;

      > div {
        > a, label {
          font-size: 95px;
        }
      }

      &:first-of-type > div > div {
        div {
          > span {
            font-size: 25px;
          }
          #moyenneGeneral {
            font-size: 100px;
            font-weight: normal;
          }
        }

        span {
          font-size: 35px;
        }
      }
    }
  }

  .wrapper ul {
    > li {
      margin-bottom: 10px;
      border-radius: 30px;

      h2 {
        font-size: 24px;
      }

      P {
        font-size: 20px;
      }

      td {
        font-size: 18px;
      }
    }
  }

}


