main {
  padding: 30px 0 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.top-container {
  display: flex;
  justify-content: space-around;
}
.top-container div {
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 48%;
  aspect-ratio: 1/1;
}
.top-container div > div {
  background-color: var(--Main);
  border-radius: 15%;
  width: 46%;
  aspect-ratio: 1/1;
  box-shadow: var(--shadow-classique);
}
.top-container div > div:hover > img {
  z-index: 5;
  width: 200px;
  height: auto;
  opacity: 1;
  position: absolute;
  transform-origin: center;
  -webkit-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate, susColor infinite 4s;
          animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate, susColor infinite 4s;
}
.top-container div > div > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 5;
  transition: opacity 6s;
}
@-webkit-keyframes susColor {
  0% {
    filter: hue-rotate(0);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(180deg);
  }
}
@keyframes susColor {
  0% {
    filter: hue-rotate(0);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(180deg);
  }
}
@-webkit-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100vw - 210px);
  }
}
@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100vw - 210px);
  }
}
@-webkit-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 98vh;
  }
}
@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 98vh;
  }
}
.top-container div > div > a,
.top-container div > div label {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  text-decoration: none;
  margin-top: 5px;
  color: var(--Headline);
}
.top-container div:first-of-type {
  background-color: var(--Main);
  box-shadow: var(--shadow-classique);
}
.top-container div:first-of-type > div {
  background-color: var(--Highlight);
  width: 94%;
  box-shadow: none;
  border-radius: 100%;
}
.top-container div:first-of-type > div > div {
  text-align: center;
  padding: 10%;
  width: 94%;
  background-color: var(--Main);
  aspect-ratio: 1/1;
}
.top-container div:first-of-type > div > div div {
  margin: auto;
  height: 60%;
}
.top-container div:first-of-type > div > div div > span {
  color: var(--Paragraphe);
  font-size: 10px;
}
.top-container div:first-of-type > div > div div #moyenneGeneral {
  color: var(--Headline);
  font-size: 40px;
  font-weight: normal;
}
.top-container div:first-of-type > div > div span {
  font-size: 15px;
  color: var(--Headline);
}
.top-container div:first-of-type.disabled {
  display: none;
}
.top-container div:first-of-type.disabled ~ div {
  width: 100%;
  aspect-ratio: initial;
}
.top-container div:first-of-type.disabled ~ div > div {
  width: 23%;
}

label {
  transition: 1s;
  position: absolute;
}

input {
  visibility: hidden;
  position: absolute;
}
input:checked ~ label:first-of-type {
  opacity: 0;
  transform: scale(0.8);
}
input:checked ~ label:last-of-type {
  opacity: 1;
  transform: scale(1);
}
input:not(:checked) ~ label:first-of-type {
  opacity: 1;
  transform: scale(1);
}
input:not(:checked) ~ label:last-of-type {
  opacity: 0;
  transform: scale(0.8);
}

.empty {
  display: var(--emptyDisplay);
}

.wrapper ul {
  margin: 0 auto auto;
  width: 98%;
  list-style: none;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0;
  flex-shrink: 0;
  position: relative;
}
.wrapper ul > li {
  box-shadow: var(--shadow-classique);
  position: relative;
  margin-bottom: 10px;
  width: 96%;
  background-color: var(--Main);
  border-radius: 30px;
}
.wrapper ul > li h2 {
  margin-left: 10px;
  margin-right: 5px;
  font-size: 20px;
  color: var(--Headline);
}
.wrapper ul > li P {
  margin-left: 10px;
  margin-right: 5px;
  color: var(--Paragraphe);
}
.wrapper ul > li table {
  width: 100%;
  border-collapse: collapse;
}
.wrapper ul > li table tbody tr:nth-child(n+1) td {
  background-color: var(--Tertiary);
}
.wrapper ul > li table tbody tr:nth-child(2n) td {
  background-color: var(--Secondary);
}
.wrapper ul > li table tbody tr td {
  padding: 1em;
  height: 35px;
  color: var(--Paragraphe);
}
.wrapper ul > li table tbody tr td:first-of-type {
  padding-left: 12px;
  width: 80%;
}
.wrapper ul > li table tbody tr td:last-of-type {
  text-align: center;
}
.wrapper ul > li table tbody tr td sub {
  display: block;
  width: 100%;
}
.wrapper ul > li table tbody tr:last-of-type td {
  height: 40px;
  padding-bottom: 14px;
}
.wrapper ul > li table tbody tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 30px;
}
.wrapper ul > li table tbody tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 30px;
}

.separator {
  width: 100%;
  max-width: 1000px;
  height: 3px;
  background-color: var(--Stroke);
}

@media screen and (min-width: 600px) {
  .top-container div {
    border-radius: 23px;
  }
  .top-container div > div > a,
.top-container div > div label {
    font-size: 75px;
  }
  .top-container div:first-of-type > div > div div > span {
    font-size: 19px;
  }
  .top-container div:first-of-type > div > div div #moyenneGeneral {
    font-size: 80px;
    font-weight: normal;
  }
  .top-container div:first-of-type > div > div span {
    font-size: 22px;
  }
}
@media screen and (min-width: 1000px) {
  .top-container div {
    border-radius: 26px;
  }
  .top-container div > div > a,
.top-container div > div label {
    font-size: 95px;
  }
  .top-container div:first-of-type > div > div div > span {
    font-size: 25px;
  }
  .top-container div:first-of-type > div > div div #moyenneGeneral {
    font-size: 100px;
    font-weight: normal;
  }
  .top-container div:first-of-type > div > div span {
    font-size: 35px;
  }
  .wrapper ul > li {
    margin-bottom: 10px;
    border-radius: 30px;
  }
  .wrapper ul > li h2 {
    font-size: 24px;
  }
  .wrapper ul > li P {
    font-size: 20px;
  }
  .wrapper ul > li td {
    font-size: 18px;
  }
}/*# sourceMappingURL=grades.css.map */