.login-form > h2, .semester-select > h2 {
  font-weight: normal;
  text-align: center;
  color: var(--Headline);
}
.login-form > form, .semester-select > form {
  width: 100%;
  border-radius: 15px;
}
.login-form > form > fieldset, .semester-select > form > fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
  width: 300px;
  margin: auto;
}
.login-form > form > fieldset > ul, .semester-select > form > fieldset > ul {
  display: flex;
  flex-direction: column-reverse;
}
.login-form > form > fieldset > div, .semester-select > form > fieldset > div {
  width: 80%;
  margin: auto auto 20px;
}
.login-form > form > fieldset > div > label, .semester-select > form > fieldset > div > label {
  color: var(--Paragraphe);
}
.login-form > form > fieldset > div input, .semester-select > form > fieldset > div input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--Secondary);
  font-size: 20px;
  background-color: var(--Main);
  color: var(--Paragraphe);
}
.login-form > form > fieldset > div input:focus, .semester-select > form > fieldset > div input:focus {
  outline: solid 2px var(--Highlight);
}
.login-form > form > fieldset div:last-of-type, .semester-select > form > fieldset div:last-of-type {
  display: flex;
  justify-content: center;
  user-select: none;
}
.login-form > form > fieldset div:last-of-type > input, .semester-select > form > fieldset div:last-of-type > input {
  border: none;
  border-radius: 20px;
  background-color: var(--Button);
  height: 40px;
  width: 40px;
  color: transparent;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  transition: 1s;
}
.login-form > form > fieldset div:last-of-type > input.disabled, .login-form > form > fieldset div:last-of-type > input.disabled ~ span, .semester-select > form > fieldset div:last-of-type > input.disabled, .semester-select > form > fieldset div:last-of-type > input.disabled ~ span {
  display: none;
}
.login-form > form > fieldset div:last-of-type > span, .semester-select > form > fieldset div:last-of-type > span {
  pointer-events: none;
  margin-top: 8px;
  margin-left: 2px;
  position: absolute;
  color: white;
  background-color: var(--Button);
  border-radius: 100%;
  transition: 0.95s;
}
.login-form > form > fieldset div:last-of-type > input:hover, .semester-select > form > fieldset div:last-of-type > input:hover {
  color: white;
  padding-left: 9px;
  width: 90%;
  font-weight: normal;
}
.login-form > form > fieldset div:last-of-type > input:hover ~ span, .semester-select > form > fieldset div:last-of-type > input:hover ~ span {
  margin-left: 172px;
  box-shadow: -2px 0px 4px 2px var(--Button);
}

#semester-form {
  margin-top: -20px;
}
#semester-form > fieldset {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
#semester-form > fieldset > ul {
  list-style: none;
  padding: 0;
  width: 50%;
}
#semester-form > fieldset > ul input {
  position: absolute;
  left: 0;
  opacity: 0.01;
}
#semester-form > fieldset > ul input:checked + label {
  background-color: var(--Highlight);
  color: var(--Background);
}
#semester-form > fieldset > ul input:not(:checked) + label {
  background-color: var(--Background);
  color: var(--Headline);
}
#semester-form > fieldset > ul label {
  transition: 1s;
  padding-top: 4px;
  text-align: center;
  display: block;
  cursor: pointer;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 2px solid var(--Highlight);
}

@media screen and (min-width: 600px) {
  .login-form > h2, .semester-select > h2 {
    font-size: 35px;
  }
  .login-form > form > fieldset, .semester-select > form > fieldset {
    width: 380px;
  }
  .login-form > form > fieldset > div > label, .semester-select > form > fieldset > div > label {
    font-size: 20px;
  }
  .login-form > form > fieldset > div input, .semester-select > form > fieldset > div input {
    font-size: 23px;
  }
  .login-form > form > fieldset div:last-of-type > input, .semester-select > form > fieldset div:last-of-type > input {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    font-size: 18px;
  }
  .login-form > form > fieldset div:last-of-type > span, .semester-select > form > fieldset div:last-of-type > span {
    margin-top: 13px;
  }
  .login-form > form > fieldset div:last-of-type > input:hover, .semester-select > form > fieldset div:last-of-type > input:hover {
    color: white;
    padding-left: 15px;
    width: 90%;
    font-weight: normal;
  }
  .login-form > form > fieldset div:last-of-type > input:hover ~ span, .semester-select > form > fieldset div:last-of-type > input:hover ~ span {
    margin-left: 210px;
    box-shadow: -4px 0 10px 5px var(--Button);
  }
  #semester-form > fieldset > ul {
    width: 45%;
  }
  #semester-form > fieldset > ul input {
    position: absolute;
    left: 0;
    opacity: 0.01;
  }
  #semester-form > fieldset > ul input:checked + label {
    background-color: var(--Highlight);
    color: var(--Background);
  }
  #semester-form > fieldset > ul input:not(:checked) + label {
    background-color: var(--Background);
    color: var(--Headline);
  }
  #semester-form > fieldset > ul label {
    font-size: 18px;
    padding-top: 6px;
    height: 35px;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=index.css.map */
