@charset "utf8";

/* alex-brush-regular - latin */
@font-face {
    font-family: "Alex Brush";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("../fonts/alex-brush-v18-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */
        url("../fonts/alex-brush-v18-latin-regular.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/alex-brush-v18-latin-regular.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/alex-brush-v18-latin-regular.svg#AlexBrush") format("svg");
    /* Legacy iOS */
}

/* to hide the 2nd form TODO */
.invisible {
    display: none;
}

/* titles */
h1 {
    font-family: "Alex Brush", "Brush Script MT", cursive;
    font-size: 4em;

    background-color: var(--background);
    display: inline-block;
}

main {
    width: min(250px, 100%);
}

/* the container of both forms on this page */
section {
    padding-bottom: 1em;
    margin-bottom: 2em;

    background-color: var(--primary);

    /* box-shadow: var(--shadow); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
}

section > *:not(h2) {
    margin: 0 1em;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    padding: 0;

    border: none;
}

.login-row {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 10px;

    border-radius: 15px;

    background-color: var(--background);
}

fieldset:disabled .login-row {
    background-color: lightgray;
}

input[type="text"], input[type="password"] {
    border: none;
    outline: none;

    padding: 5px;

    background-color: var(--input);
}

input[type="submit"]:disabled {
    background-color: var(--acent-dark);
}

#semester-form fieldset {
    display: flex;
    flex-direction: column-reverse;

    margin: 0 auto;
}

#semester-form ul {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: 1em;

    padding: 0;
    width: 100%;
}

ul > li {
    display: flex;
    gap: 0.3em;
}

/* sus */
#sus {
    position: relative;
    transition: color 7s ease;
}

#sus:hover {
    color: red;
}

@keyframes sus-fall {
    30% {
        transform: translateX(50px) rotate(90deg);
    }
    35% {
        transform: translateX(60px) rotate(90deg);
    }
    100% {
        transform: translateY(max(85vh, 500px)) translateX(150px) rotate(180deg);
    }
}

#sus::after {
    content: url("/static/img/sus.png");
    position: absolute;
    left: 0;

    z-index: -1;
}

#sus.falling::after {
    animation: 2.5s ease-in normal sus-fall;
}

#cur.extra-sus {
    font-size: 0;
    transition: font-size 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#extra.extra-sus::after {
    content: "-";
}

#sus2 {
    cursor: pointer;
}
