@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
:root {
  --Background: #fffffe;
  --Headline: #094067;
  --Paragraphe: #5f6c7b;
  --Button: #3da9fc;
  --ButtonText: #fffffe;
  --Stroke: #094067;
  --Main: #fffffe;
  --Highlight: #3da9fc;
  --Highlight-HeadLine: #3da9fc;
  --Secondary: rgba(219, 228, 248, 0.33);
  --Tertiary: #eaf1ff;
  --shadow-classique: 5px 5px 20px 0px rgba(0,0,0,0.75);
}

@media (prefers-color-scheme: dark) {
  :root {
    --Background: #121212;
    --Headline: #fffffe;
    --Paragraphe: rgba(255, 255, 255, 0.9);
    --Button: #094067;
    --ButtonText: #fffffe;
    --Stroke: #094067;
    --Main: #1d1d1d;
    --Highlight: #094067;
    --Highlight-HeadLine: #3da9fc;
    --Secondary: rgba(72, 97, 114, 0.47);
    --Tertiary: rgba(49, 66, 77, 0.47);
    --shadow-classique: 5px 5px 20px 0px rgba(0,0,0,0.75);
  }
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: font-size 1s;
}

html {
  background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
  height: 100vh;
  padding: 0;
}

body {
  margin: 0 auto;
  background-color: var(--Background);
  max-width: 1000px;
  height: 100%;
}

header h1 {
  margin-top: 0;
  padding-top: 25px;
  text-align: center;
  color: var(--Highlight-HeadLine);
  font-size: 50px;
  font-weight: bolder;
}

.login-form, .semester-select {
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.login-form > h2, .semester-select > h2 {
  font-weight: normal;
  text-align: center;
  color: var(--Headline);
}
.login-form > form, .semester-select > form {
  width: 100%;
  border-radius: 15px;
}
.login-form > form > fieldset, .semester-select > form > fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
  width: 300px;
  margin: auto;
}
.login-form > form > fieldset > div, .semester-select > form > fieldset > div {
  width: 80%;
  margin: auto auto 20px;
}
.login-form > form > fieldset > div > label, .semester-select > form > fieldset > div > label {
  color: var(--Paragraphe);
}
.login-form > form > fieldset > div input, .semester-select > form > fieldset > div input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--Secondary);
  font-size: 20px;
  background-color: var(--Main);
  color: var(--Paragraphe);
}
.login-form > form > fieldset > div input:focus, .semester-select > form > fieldset > div input:focus {
  outline: solid 2px var(--Highlight);
}
.login-form > form > fieldset div:last-of-type, .semester-select > form > fieldset div:last-of-type {
  display: flex;
  justify-content: center;
  user-select: none;
}
.login-form > form > fieldset div:last-of-type > input, .semester-select > form > fieldset div:last-of-type > input {
  border: none;
  border-radius: 20px;
  background-color: var(--Button);
  height: 40px;
  width: 40px;
  color: transparent;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  transition: 1s;
}
.login-form > form > fieldset div:last-of-type > span, .semester-select > form > fieldset div:last-of-type > span {
  pointer-events: none;
  margin-top: 8px;
  margin-left: 2px;
  position: absolute;
  color: white;
  background-color: var(--Button);
  border-radius: 100%;
  transition: 0.95s;
}
.login-form > form > fieldset div:last-of-type > input:hover, .semester-select > form > fieldset div:last-of-type > input:hover {
  color: white;
  padding-left: 9px;
  width: 90%;
  font-weight: normal;
}
.login-form > form > fieldset div:last-of-type > input:hover ~ span, .semester-select > form > fieldset div:last-of-type > input:hover ~ span {
  margin-left: 172px;
  box-shadow: -2px 0px 4px 2px var(--Button);
}

#semester-form {
  margin-top: -20px;
}
#semester-form > fieldset > ul {
  list-style: none;
  padding: 0;
  width: 50%;
}
#semester-form > fieldset > ul input {
  position: absolute;
  left: 0;
  opacity: 0.01;
}
#semester-form > fieldset > ul input:checked + label {
  background-color: var(--Highlight);
  color: var(--Background);
}
#semester-form > fieldset > ul input:not(:checked) + label {
  background-color: var(--Background);
  color: var(--Headline);
}
#semester-form > fieldset > ul label {
  transition: 1s;
  padding-top: 4px;
  text-align: center;
  display: block;
  cursor: pointer;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 2px solid var(--Highlight);
}

footer {
  max-width: 1000px;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 12px;
  color: var(--Paragraphe);
  padding: 3px 3px 0;
}

#loader {
  padding-top: 38vh;
  display: flex;
  flex-direction: column;
  z-index: 5;
  backdrop-filter: blur(6px);
  position: absolute;
  width: 100vw;
  max-width: 1000px;
  height: 100vh;
  text-align: center;
}
#loader > span {
  color: var(--Headline);
  font-size: 27px;
  font-weight: bolder;
}
#loader > em {
  font-size: 15px;
  color: var(--Paragraphe);
}
#loader > div {
  overflow: hidden;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#loader > div > div {
  margin: 0 1px 1px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--Headline);
  -webkit-animation: slide-in-blurred-left 2s cubic-bezier(0.4, 0.25, 0.4, 0.75) infinite;
  animation: slide-in-blurred-left 2s cubic-bezier(0.4, 0.3, 0.4, 0.7) infinite;
}
#loader > div > div:nth-child(1) {
  animation-delay: 0s;
}
#loader > div > div:nth-child(2) {
  animation-delay: -0.075s;
}
#loader > div > div:nth-child(3) {
  animation-delay: -0.15s;
}
#loader > div > div:nth-child(4) {
  animation-delay: -0.225s;
}

@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  45% {
    -webkit-transform: translateX(-30px) scaleY(1) scaleX(1);
    transform: translateX(-30px) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(30px) scaleY(1) scaleX(1);
    transform: translateX(30px) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleY(2.5) scaleX(2.5);
    transform: translateX(1000px) scaleY(2.5) scaleX(2.5);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@media screen and (min-width: 1000px) {
  html {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, var(--Highlight), #23d5ab);
    backdrop-filter: blur(10px);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  @keyframes gradient {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
}

/*# sourceMappingURL=style.css.map */
