<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Extracursus">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ url_for('static', filename='img/banner.png') }}">
    <meta property="og:description"
        content="Marre de devoir télécharger un PDF pour voir vos notes ? Ce site est fait pour vous !">
    <meta property="og:url" content="https://extracursus.herokuapp.com/">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:site_name" content="Extracursus">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block imports %}
    {% endblock %}

    <title>{{ self.title()|striptags }}</title>
</head>

<body>
    <noscript>
        <div class="noscript">
            <h1>Activez votre javascript&nbsp;!</h1>
            <p>Extracursus ne peux pas fonctionner sans (<a
                    href="https://www.google.com/search?q=comment+activer+javascript" target="_blank"
                    rel="noopener noreferrer">comment faire&nbsp;??</a>)</p>
        </div>
    </noscript>
    <div id="loader">
        <span>Chargement en cours...</span>
        <em>Cela prendra quelques secondes</em>

        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="wrapper">
        <header>
            <h1>{% block title %}{% endblock%}</h1>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
    </div>
    <footer>
        <p>
            Ce site ne sauvegarde <b>PAS</b> votre mot de passe. Si quand même
            vous n'avez pas confiance (et je vous félicite car il ne faut
            jamais faire confiance à ce genre de sites sur internet), vous pouvez consulter librement la source
            d'Extracur<span id="sus2">sus</span> <a href="https://github.com/itskatt/extracursus" target="_blank"
                rel="noopener noreferrer">ici</a>, et vous trouverez aussi
            des instructions pour télécharger et faire tourner votre propre
            instance d'Extracursus dans un usage autorisé par la license.
        </p>
        <p>
            <em>Version 14 &mdash; &copy; itskatt</em>
        </p>
    </footer>
</body>

</html>