{% extends "base.html" %}

{% block imports %}
    {% assets filters="cssmin", output="gen/index-bundle.css", "css/base.css", "css/index.css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets filters="rjsmin", output="gen/login.min.js", "js/login.js" %}
        <script defer src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block title %}<span id="extra">Extra</span><span id="cur">cur</span><span id="sus">sus</span>{% endblock %}

{% block main %}
    {# Form for login info #}
    <section class="login-form">
        <h2>Connexion</h2>

        <form onsubmit="login()" id="login-form">
            <fieldset>
                <div class="login-row">
                    <label for="username">Nom d'utilisateur :</label>
                    <input type="text" required name="username" id="username" placeholder="ab123456">
                </div>
    
                <div class="login-row">
                    <label for="password">Mot de passe :</label>
                    <input type="password" required name="password" id="password" placeholder="••••••••">
                </div>
                
                <input type="submit" value="Connexion à Intracursus" class="pill-btn">
            </fieldset>
        </form>
    </section>

    {# Semester section #}
    <section class="semester-select invisible" id="semester-select">
        <h2>Choix du semestre</h2>

        <form onsubmit="getSemester()" id="semester-form">
            <fieldset>
                {# Semesters inputs will go here #}
                <input type="submit" value="Voir les notes du semestre" class="pill-btn">
            </fieldset>
        </form>
    </section>
{% endblock %}
