{% extends "base.html" %}

{% block imports %}
    {% assets filters="cssmin", output="gen/index-bundle.css", "css/base.css", "css/index.css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets filters="rjsmin", output="gen/login.min.js", "js/login.js" %}
        <script defer src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block title %}<span id="extra">Extra</span><span id="cur">cur</span><span id="sus">sus</span>{% endblock %}

{% block main %}
    {# Until heroku expires #}
    <script>
        if (window.location.host == "extracursus.herokuapp.com") {
            let warning = document.createElement("p")
            warning.innerHTML = "<b>Extracursus change d'hôte !</b> Pour pouvoir continuer à utiliser " +
                                "Extracursus après le 28 novembre 2022, rendez-vous sur " + 
                                "<a href=\"https://extracursus.live/\">https://extracursus.live/</a>."
            warning.style.fontSize = "15px"
            warning.style.backgroundColor = "var(--primary)"
            warning.style.padding = "1em"

            let main = document.querySelector("main")
            main.insertBefore(
                warning,
                main.firstChild
            )
        }
    </script>

    {# Form for login info #}
    <section class="login-form">
        <h2>Connexion</h2>

        <form onsubmit="login()" id="login-form">
            <fieldset>
                <div class="login-row">
                    <label for="username">Nom d'utilisateur :</label>
                    <input type="text" required name="username" id="username" placeholder="ab123456">
                </div>
    
                <div class="login-row">
                    <label for="password">Mot de passe :</label>
                    <input type="password" required name="password" id="password" placeholder="••••••••">
                </div>
                
                <div>
                    <input type="submit" value="Connexion à Intracursus" class="pill-btn">
                    <span class="material-symbols-outlined">
                            arrow_forward_ios
                    </span>
                </div>
            </fieldset>
        </form>
    </section>

    {# Semester section #}
    <section class="semester-select invisible" id="semester-select">
        <h2>Choix du semestre</h2>

        <form onsubmit="getSemester()" id="semester-form">
            <fieldset>
                {# Semesters inputs will go here #}
                <div>
                    <input type="submit" value="Voir notes du semestre" class="pill-btn">
                    <span class="material-symbols-outlined">
                            arrow_forward_ios
                    </span>
                </div>
            </fieldset>
        </form>
    </section>
{% endblock %}
