{% extends "base.html" %}

{% block imports %}
    {% assets filter="cssmin", output="gen/grades-bundle.css", "css/base.css", "css/grades.css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endassets %}

    {% assets filter="rjsmin", output="gen/grades.min.js", "js/grades.js" %}
        <script defer src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block page_title %}
    Notes du semestre {{ semester }} - Extracursus
{% endblock %}

{% block title %}
    <h1>Extracursus</h1>
    <h2>Notes du semestre {{ semester }}</h2>
{% endblock %}


{% block main %}
    <div class="top-container">

        {% if pdf_data["admission"] or pdf_data["average"] or pdf_data["position"] %}
        <div>
        {% else %}
        <div class="disabled">
        {% endif %}

                <div>
                    <div>
                        <div>
                            <span>Moyenne générale</span>
                            <span id="moyenneGeneral">{{ pdf_data["average"] }}<span>pts</span></span>
                        </div>
                        <span>Rang : <b id="rank">{{ pdf_data["position"] }}</b></span>
                    </div>
                </div>

            </div>
        
        <div>
            <div>
                <a href="/pdf_dl?sem={{ semester }}" class="pill-btn material-symbols-outlined">file_download</a>
            </div>
            <div>
                <a href="/static/lib/web/viewer.html?file=%2Fpdf_dl%3Fsem%3D{{ semester }}"
                   class="pill-btn material-symbols-outlined">plagiarism</a>
            </div>
            <div>
                <input onclick="toggleEmpty()" type="checkbox" id="hide">
                <label for="hide" class="material-symbols-outlined">visibility</label>
                <label for="hide" class="material-symbols-outlined">visibility_off</label>
            </div>
        <div>
            <img src="../static/img/sus.png" alt="Sus">
        </div>
    </div>
    </div>

<div class="separator"></div>

    <ul>
        {% for sub in pdf_data["grades"] %}
        <li class="{{ sub['empty'] }}">
            <h2>{{ sub["name"] }}</h2>
            <p>Prof : <em>{{ sub["teacher"] }}</em></p>
            <p>Moyenne : {{ sub["average"] }}</p>
            <table>
                <tbody>
                    {% for grade in sub["grades"] %}
                    <tr>
                        <td>{{ grade[0] }}</td>
                        {% if grade[1]|length > 1 %}
                        {# grade + coef #}
                        <td>{{ grade[1][0] }} <sub>coef.&nbsp;{{ grade[1][1] }}</sub></td>
                        {% else %}
                        {# no grade #}
                        <td>{{ grade[1][0] }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </li>
        {% endfor %}
    </ul>

<div class="separator"></div>


{% endblock %}